<% include ../partials/header %>
<div class="row">
  <div class="col-md-3">
    <p class="lead">FoodWeb</p>
    <div class="list-group">
      <li class="list-group-item active">Location</li>

    </div>
    <div id="map"></div>
  </div>
  <div class="col-md-9">
    <div class="thumbnail">
      <img class="img-responsive" src="<%= dish.image %>">
      <div class="caption-full">
        <h4 class="pull-right">
          Ratings: <%= dish.price %>/5
        </h4>
        
       
        
         <form  action="/dishes/<%= dish._id %>/like/" method="POST">
                <button class="btn btn-success" id="likebutton">Like</button>
               
              </form>
              
               <% if(currentUser){ %>
               <form action="/dishes/<%=dish._id%>/like/<%=currentUser._id%>" method="POST">
                <button class="btn btn-danger" id="unlikebutton">Unlike</button>
              </form>
              <% } %>
        <h4><a><%=dish.name%></a></h4>
        <p><strong>Restaurant Name:</strong> <%= dish.restaurant%></p>
        <p><%= dish.description %></p>
        <p>
          <em>Submitted by: <%= dish.author.username %>, <%= moment(dish.createdAt).fromNow() %></em>
        </p>
        <% if(currentUser && dish.author.id.equals(currentUser._id)){ %>
        <a class="btn btn-warning" href="/dishes/<%= dish._id %>/edit">Edit</a>
        <form action="/dishes/<%= dish._id %>?_method=DELETE" method="POST" class="delete-form">
          <button class="btn btn-danger" style="height: 50px;">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <div class="well">
      <div class="text-right">
        <a class="btn btn-success" href="/dishes/<%= dish._id %>/comments/new">Add Comment</a>
      </div>
      <hr>
      <% dish.comments.forEach(function(comment){ %>
      <div class="row">
        <div class="col-md-12">
          <strong><%= comment.author.username %></strong>
          <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
          <div>
           <%= comment.text %> 
           <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
            <div class="pull-right">
              <a href="/dishes/<%=dish._id%>/comments/<%=comment._id%>/edit" class="btn btn-xs btn-warning">EDIT</a>
              <form class="delete-form" action="/dishes/<%=dish._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                <button class="btn btn-xs btn-danger"  style="height: 50px;">DELETE</button>
              </form>
            </div>
          <% } %>
          <hr>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
</div>


 <script>
 

  function initMap() {
    var lat = <%= dish.lat %>;
    var lng = <%= dish.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 25,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= dish.name %><br />
      <%= dish.location %></strong>
      <p><%= dish.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
  
 var likebutton = document.getElementById('likebutton');
  var unlikebutton = document.getElementById('unlikebutton');
  
  unlikebutton.style.display = "none";
likebutton.style.display = "block";

var likes = <%-JSON.stringify(dish.likes)%>
var currentUser = <%-JSON.stringify(currentUser)%>
likes.forEach(function (like){
  if(currentUser._id == like.author.id){
   likebutton.style.display = "none";
   unlikebutton.style.display = "block";
  }
})
  
  
 </script>
 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIWIuVtNu7Y5oxMRvaBj6IQ-T5agL5TyQ&callback=initMap"></script>





<% include ../partials/footer %> 
